<% if logged_in? %>
  <%= form_tag(root_url, method: 'get') do %>
    <div class="row mb-1">
      <div class="col-md-6">
        <%= text_field_tag :bandname, params[:bandname], placeholder: 'バンド名', class: 'form-control form-control-sm' %>
      </div>
      <div class="offset-md-6"></div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <%= text_field_tag :part, params[:part], placeholder: '足りないパート', class: 'form-control form-control-sm' %>
      </div>
      <div class="offset-md-6"></div>
    </div>
      
    <%= submit_tag '検索', class: 'btn btn-warning btn-sm mt-1 mb-2' %>
  <% end %>
  <div class="row">
    <%= render 'posts/post', posts: @posts %>
  </div>
<% else %>
  <div class="card bg-dark text-white mb-3">
    <div class="card-body">
      <h5 class="card-title">GuitarProudへようこそ！<%= link_to 'ログインはこちら!' ,login_path, class: 'btn btn-primary btn-sm' %></h5>
      <p class="card-text"><%= link_to 'アカウントをお持ちでない方はこちら！', signup_path %></p>
    </div>
  </div>
<% end %>
