<% if logged_in? %>
<div class="ui mini form">
  <%= form_tag(root_url, method: 'get') do %>
  
    <div class="six wide field">
      <%= label_tag :bandname, 'バンド名' %>
      <%= text_field_tag :bandname, params[:bandname] %>
    </div>
    
    <div class="six wide field">
      <%= label_tag :part, '足りないパート' %>
      <%= text_field_tag :part, params[:part] %>
    </div>
    
    <%= submit_tag '検索', class: 'mini ui button' %>
  <% end %>
</div>
  <h2 class="header">バンド一覧</h2>
  <%= link_to '新しい投稿', newpost_path, class: 'ui primary button' %>
  <%= render 'posts/post', posts: @posts %>
<% else %>
  <div class="ui segment">
    <p class="ui text large">Welcome to GuitarProud!</p>
    <%= link_to 'アカウントを作成', signup_path, class: 'ui primary button' %> 
  </div>
<% end %>
