<div class="chat">
  <div class="chat bg-light p-4 mb-2">    
    <% if @messages.present? %>
      <% @messages.each do |message| %>
        <% if message.user.id == current_user.id %>
          <div class="message d-flex flex-row-reverse align-items-start mb-4">
          <p class="message-text p-2 ms-2 mb-0 bg-warning"><%= message.content %></p>
          <!--<p class="messages__message__list--date"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>-->
          </div>
        <% else %>
          <div class="message d-flex flex-row align-items-start mb-4">
          <p class="message-text p-2 me-2 mb-0 bg-info"><%= message.content %></p>
          <!--<p class="messages__message__list--date"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></p>-->
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

    <%= form_with(model: @message, local: true) do |f| %>
      <div class="row">
      <div class="col-8">
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.text_field :content, placeholder: "メッセージを入力...", class: 'form-control' %>
      </div>
      <div class="col-4">
        <%= f.submit "送信する", class: 'btn btn-success btn-sm' %>
      </div>
      </div>
    <% end %>
</div>