<div class="ui cards">
<% posts.each do |post| %>
  <div class="ui card">
    <div class="content">
      <div class="header"><%= post.bandname %></div>
    </div>
    <div class="content">
      <h2 class="ui sub header">バンド名</h2>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <p><%= post.bandname %></p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="ui sub header">メンバー数</h2>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <p><%= post.part %></p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="ui sub header">足りないパート</h2>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <p><%= post.part %></p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="ui sub header">ひとこと</h2>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <p><%= post.remark %></p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="ui sub header">投稿者</h2>
      <div class="ui small feed">
        <div class="event">
          <div class="content">
            <div class="summary">
              <p><%= link_to post.user.name, user_path(post.user) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <%= link_to '詳細を見る', post_path(post), class: 'ui mini button' %>
      <% if current_user.id == post.user.id %>
        <%= link_to '編集する', edit_post_path(post), class: 'ui green mini button' %>
        <%= link_to '削除する', post_path(post), method: :delete, data: { confirm: "You sure?" }, class: 'ui red mini button' %>
      <% end %>
    </div>
  </div>
<% end %>
</div>