<table class="table table-success">
  <tbody>
    <tr>
      <td scope="col">バンド名</td>
      <td scope="col"><%= @post.bandname %></td>
    </tr>
    <tr>
      <td scope="col">メンバー数</td>
      <td scope="col"><%= @post.member %></td>
    </tr>
    <tr>
      <td scope="col">足りないパート</td>
      <td scope="col"><%= @post.part %></td>
    </tr>
    <tr>
      <td scope="col">ひとこと</td>
      <td scope="col"><%= @post.remark %></td>
    </tr>
    <tr>
      <td scope="col">作成者</td>
      <td scope="col"><%= link_to @post.user.name, user_path(@post.user) %></td>
    </tr>
  </tbody>
</table>
<% if current_user.id == @post.user.id %>
  <%= link_to '編集する', edit_post_path(@post), class: 'btn btn-outline-success btn-sm' %>
  <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-outline-danger btn-sm' %>
<% end %>

<% if @user.new_follow(current_user) && current_user.new_follow(@user) %>
  <h5 class="mt-5">グループトーク</h5>
    <% @comments.each do |comment| %>
      <div class="card border-success mb-3">
        <div class="card-body text-success">
          <%# comment.created_at %>
          <div class="card-text"><%= comment.content %></div>（<%= link_to comment.user.name, user_path(comment.user), class: 'author' %>）
          <%# link_to '返信', new_reply_path(:comment_id => comment.id, :post_id => @post.id) %>
          <% if current_user.id == comment.user.id %>
            <%= link_to '削除', comment_path(comment.user, :post_id => @post.id), method: :delete, data: { confirm: "You sure?" } %>
          <% end %>
        </div>
        <% if comment.replies.present? %>
          <div class="card-footer bg-transparent border-success">
            <%= link_to '返信を見る', reply_path(comment_id: comment.id, post_id: @post.id) %>
          </div>
        <% else %>
          <div class="card-footer bg-transparent border-success">
            <%= link_to '最初の返信する', reply_path(comment_id: comment.id, post_id: @post.id) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= form_with(model: @comment_new, local: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <div class="row ml-1 mr-1">
      <div class="offset-md-1"></div>
        <div class="col-md-6">
          <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを入力...' %>
        </div>
        <div class="col-md-5">
          <%= f.submit '送信する', class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>

<% elsif current_user == @user %>
  <h5 class="mt-5">グループトーク</h5>
  <% @comments.each do |comment| %>
    <div class="card border-success mb-3">
      <div class="card-body text-success">
        <%# comment.created_at %>
        <div class="card-text"><%= comment.content %></div>（<%= link_to comment.user.name, user_path(comment.user), class: 'author' %>）
        <%# link_to '返信', new_reply_path(:comment_id => comment.id, :post_id => @post.id) %>
        <% if current_user.id == comment.user.id %>
          <%= link_to '削除', comment_path(comment.user, :post_id => @post.id), method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </div>
      <% if comment.replies.present? %>
        <div class="card-footer bg-transparent border-success">
          <%= link_to '返信を見る', reply_path(comment_id: comment.id, post_id: @post.id) %>
        </div>
      <% else %>
        <div class="card-footer bg-transparent border-success">
          <%= link_to '最初の返信する', reply_path(comment_id: comment.id, post_id: @post.id) %>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <%= form_with(model: @comment_new, local: true) do |f| %>
    <%= hidden_field_tag :post_id, @post.id %>
    <div class="row ml-1 mr-1">
      <div class="offset-md-1"></div>
        <div class="col-md-6">
          <%= f.text_field :content, class: 'form-control', placeholder: 'コメントを入力...' %>
        </div>
        <div class="col-md-5">
          <%= f.submit '送信する', class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>